<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Deposit Form</title>
</head>
<body>
<h1> Deposit Form </h1>
<form action="#" th:action="@{/processdeposit}" th:object="${account}" method="post">
    <input type="hidden" th:field="*{accountid}" />
    Account Number: <input type="text" th:field="*{accountnum}" />
    <span th:if="${#fields.hasErrors('accountnum')}"
          th:errors="*{accountnum}"></span><br />
    Password: <span th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">Password Error</span>
    <input type="text" id="password" placeholder="Password" th:field="*{password}" /><br />
    Deposit Amount: <input type="text" th:field="*{amount}" />
    <span th:if="${#fields.hasErrors('amount')}"
          th:errors="*{amount}"></span><br />
    <br />

    <input type="submit" value="Submit" />
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>